@import '../../../../Components/mediaqueries.module';

.textPara{
    color: white;
    padding: 8rem 2rem;
    
    @include md{
        padding: 2rem 0.8rem;
    }
    @include tablet{
        padding: 1rem 0.4rem;
    }
}
.leftSecHead {
    padding: 8rem 8rem 8rem 0rem;
    display: flex;
    align-items: center;
    @include md{
        padding: 2rem;
    }
    @include tablet{
        padding: 1rem;
    }
}